<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">

<head>
</head>

<body>
    <div layout:fragment="content" class="grow center">
        <h1 class="mb">Update Password</h1>

        <form method="POST" th:action="@{/password}" class="col align-start mb p-lg bg-grey">
            <label for="cur-password" class="mb-sm">Current Password</label>
            <input type="password" name="cur-password" id="cur-password" class="mb">

            <label for="new-password" class="mb-sm">New Password</label>
            <input type="password" name="new-password" id="new-password" class="mb">

            <p th:if="${error}" th:text="${error}" class="mb text-danger">There was an error</p>

            <button type="submit">Save</button>
        </form>

        <a th:href="@{/users}" class="a-danger">Cancel</a>
    </div>
</body>

</html>