<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">

<head>
</head>

<body>
    <div layout:fragment="content">
        <div class="gutters py">
            <h1 class="mb">Edit Profile</h1>

            <div class="p bg-grey">
                <form method="POST" th:action="@{/users/edit}" class="col mb-sm">
                    <label for="username" class="mb-sm">Username</label>
                    <input type="text" name="username" id="username">
                    <button type="submit" class="mt">Save</button>
                </form>

                <a th:href="@{/users}" class="btn btn-danger">Cancel</a>
            </div>
        </div>
    </div>
</body>

</html>