* {
    --black: #222;
    --white: #fff;

    --grey-light: #f0f0f0;
    --grey: #e8e8e8;
    --grey-dark: #d0d0d0;

    --primary: #2c3e50;
    --primary-dark: #233240;

    --secondary: #c2aa30;
    --secondary-dark: #b39c2d;
    
    --danger: #e74c3c;
    --danger-dark: #b93d30;
}

html {
    color: var(--black);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--primary);
}

a {
    color: var(--secondary);
}

a:hover {
    color: var(--secondary-dark);
}

button {
    background-color: var(--secondary);
    color: var(--white);
}

button:hover {
    background-color: var(--secondary-dark);
    color: var(--white);
}

input {
    border: 1px solid var(--grey-dark);
}

.text-danger {
    color: var(--danger);
}

.btn {
    background-color: var(--secondary);
    color: var(--white);
}

.btn:hover {
    background-color: var(--secondary-dark);
    color: var(--white);
}

.btn-a {
    background-color: transparent;
    color: var(--secondary);
}

.btn-a:hover {
    background-color: transparent;
    color: var(--secondary-dark);
}

.btn-grey {
    background-color: var(--grey);
    color: var(--black);
    border: 1px solid var(--grey-dark);
}

.btn-grey:hover {
    background-color: var(--grey-dark);
    color: var(--black);
    border: 1px solid var(--grey-dark);
}

.bg-prim {
    background-color: var(--primary);
    color: var(--white);
}

.bg-white {
    background-color: var(--white);
    color: var(--black);
    border: 1px solid var(--grey-dark);
}

.bg-black {
    background-color: var(--black);
    color: var(--white);
}

.bg-black h1,
.bg-black h2,
.bg-black h3,
.bg-black h4,
.bg-black h5,
.bg-black h6,
.bg-black p,
.bg-black a {
    color: var(--white);
}

.bg-black-transparent {
    background-color: rgba(30, 30, 30, 0.8);
    color: var(--white);
}

.bg-grey {
    background-color: var(--grey);
    color: var(--black);
}

.border-grey {
    border: 1px solid var(--grey);
}

.border-t-grey {
    border-top: 1px solid var(--grey);
}

.border-b-grey {
    border-bottom: 1px solid var(--grey);
}

.shadow {
    box-shadow: 0 0 8px var(--grey-light);
}
