* {
    --black: #222;
    --white: #fff;

    --grey-light: #f0f0f0;
    --grey: #e8e8e8;
    --grey-dark: #d0d0d0;

    --primary: #2c3e50;
    --primary-dark: #233240;

    --secondary: #c2aa30;
    --secondary-dark: #b39c2d;
    
    --danger: #e74c3c;
    --danger-dark: #b93d30;

    --status-new: #0FB4F0;
    --status-new-dark: #0d7ca4;
    --status-focused: #f2081f;
    --status-focused-dark: #b41323;
    --status-learning: #ec750d;
    --status-learning-dark: #c06313;
    --status-mastered: #0cd44b;
    --status-mastered-dark: #16bf62;
}

html {
    color: var(--black);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--primary);
}

a {
    color: var(--secondary);
}

a:hover {
    color: var(--secondary-dark);
}

button {
    background-color: var(--secondary);
    color: var(--white);
}

button:hover {
    background-color: var(--secondary-dark);
    color: var(--white);
}

input[type="text"],
input[type="password"] {
    border: 1px solid var(--grey-dark);
}

.text-danger {
    color: var(--danger);
}

.a-danger {
    color: var(--danger);
}

.a-danger:hover {
    color: var(--danger-dark);
}

.btn {
    background-color: var(--secondary);
    color: var(--white);
}

.btn:hover {
    background-color: var(--secondary-dark);
    color: var(--white);
}

button:disabled,
button:disabled:hover {
    background-color: var(--grey-dark);
    color: var(--white);
    cursor: auto;
}

.btn-a {
    background-color: transparent;
    color: var(--secondary);
}

.btn-a:hover {
    background-color: transparent;
    color: var(--secondary-dark);
}

.btn-grey {
    background-color: var(--grey);
    color: var(--black);
    border: 1px solid var(--grey-dark);
}

.btn-grey:hover {
    background-color: var(--grey-dark);
    color: var(--black);
    border: 1px solid var(--grey-dark);
}

.btn-danger {
    background-color: var(--danger);
    color: var(--white);
}

.btn-danger:hover {
    background-color: var(--danger-dark);
    color: var(--white);
}

.btn-status-new {
    background-color: var(--status-new);
    color: var(--white);
    border: 1px solid var(--status-new);
}

.btn-status-new:hover {
    background-color: var(--status-new-dark);
    color: var(--white);
    border: 1px solid var(--status-new-dark);
}

.btn-status-focused {
    background-color: var(--status-focused);
    color: var(--white);
    border: 1px solid var(--status-focused);
}

.btn-status-focused:hover {
    background-color: var(--status-focused-dark);
    color: var(--white);
    border: 1px solid var(--status-focused-dark);
}

.btn-status-learning {
    background-color: var(--status-learning);
    color: var(--white);
    border: 1px solid var(--status-learning);
}

.btn-status-learning:hover {
    background-color: var(--status-learning-dark);
    color: var(--white);
    border: 1px solid var(--status-learning-dark);
}

.btn-status-mastered {
    background-color: var(--status-mastered);
    color: var(--white);
    border: 1px solid var(--status-mastered);
}

.btn-status-mastered:hover {
    background-color: var(--status-mastered-dark);
    color: var(--white);
    border: 1px solid var(--status-mastered-dark);
}

.bg-prim {
    background-color: var(--primary);
    color: var(--white);
}

.bg-white {
    background-color: var(--white);
    color: var(--black);
    border: 1px solid var(--grey-dark);
}

.bg-black {
    background-color: var(--black);
    color: var(--white);
}

.bg-black h1,
.bg-black h2,
.bg-black h3,
.bg-black h4,
.bg-black h5,
.bg-black h6,
.bg-black p,
.bg-black a {
    color: var(--white);
}

.bg-black-transparent {
    background-color: rgba(30, 30, 30, 0.8);
    color: var(--white);
}

.bg-grey {
    background-color: var(--grey);
    color: var(--black);
}

.bg-status-new {
    background-color: var(--status-new);
}

.bg-status-focused {
    background-color: var(--status-focused);
}

.bg-status-learning {
    background-color: var(--status-learning);
}

.bg-status-mastered {
    background-color: var(--status-mastered);
}

.border-grey {
    border: 1px solid var(--grey);
}

.border-t-grey {
    border-top: 1px solid var(--grey);
}

.border-b-grey {
    border-bottom: 1px solid var(--grey);
}

.border-prim {
    border: 1px solid var(--primary);
}

.border-t-prim {
    border-top: 1px solid var(--primary);
}

.border-b-prim {
    border-bottom: 1px solid var(--primary);
}

.shadow {
    box-shadow: 0 0 8px var(--grey-light);
}
