.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.w-fit {
    width: fit-content;
}

.w-1 {
    width: 100%;
}

.w-2 {
    width: 50%;
}

.w-4 {
    width: 25%;
}

.h-fit {
    height: fit-content;
}

.h-1 {
    height: 100%;
}

.grow {
    flex: 1;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.wrap {
    flex-wrap: wrap;
}

.justify-between {
    display: flex;
    justify-content: space-between;
}

.text-start {
    text-align: start;
}

.text-end {
    text-align: end;
}

.align-start {
    display: flex;
    align-items: flex-start;
}