* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
}

body {
    height: 100vh;
    position: relative;
}

header {
    position: sticky;
    top: 0;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.2rem;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: 0.8rem;
}

p {
    font-size: 1rem;
}

li {
    font-size: 1rem;
    list-style-type: none;
}

table {
    width: 100%;
    border-collapse: collapse;
}

a {
    display: block;
    font-size: 1rem;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

button {
    font-size: 1rem;
    text-align: center;
    width: 100%;
    height: fit-content;
    padding: 0.5rem 1rem;
    border: none;
}

button:hover {
    cursor: pointer;
}

label {
    display: block;
}

input[type="text"],
input[type="password"] {
    font-size: 1rem;
    min-width: 16rem;
    padding: 0.5rem;
    border: none;
}

input[type="text"] {
    display: block;
}

textarea {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    resize: none;
    border: none;
}
