.font-size-xl {
    font-size: 3rem;
}

.grow {
    flex: 1;
}

.gutters {
    padding-left: max(8vw, 2rem);
    padding-right: max(8vw, 2rem);
}

.w-fit {
    width: fit-content;
}

.w-1 {
    width: 100%;
}

.w-2 {
    width: 50%;
}

.w-4 {
    width: 25%;
}

.h-fit {
    height: fit-content;
}

.h-1 {
    height: 100%;
}

.mx-sm {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.mt {
    margin-top: 1rem;
}

.mt-sm {
    margin-top: 0.5rem;
}

.mb {
    margin-bottom: 1rem;
}

.mb-sm {
    margin-bottom: 0.5rem;
}

.ml {
    margin-left: 1rem;
}

.mr {
    margin-right: 1rem;
}

.mr-sm {
    margin-right: 0.5rem;
}

.mr-lg {
    margin-right: 2rem;
}

.p {
    padding: 1rem;
}

.p-sm {
    padding: 0.5rem;
}

.p-lg {
    padding: 2rem;
}

.py {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.py-lg {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.pt {
    padding-top: 1rem;
}

.pr {
    padding-right: 1rem;
}
