<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">

<head>
</head>

<body>
    <div layout:fragment="content">
        <div id="home-hero" class="center">
            <div class="bg-black-transparent p-lg">
                <h1>Aviation Index</h1>
                <h2>A Comprehensive Study Tool For Pilots</h2>
            </div>
        </div>

        <div class="row gutters py-lg">
            <div class="grow center mr-lg p-lg bg-grey shadow">
                <h3>Enhance Your Understanding</h3>
                <p>Aviation Index provides an extensive library that can be repeatedly tailored to your study needs.</p>
            </div>
            <div class="grow center mr-lg p-lg bg-grey shadow">
                <h3>Ensure Your Comprehension</h3>
                <p>Aviation Index automatically records your progress and offers detailed reports.</p>
            </div>
            <div class="grow center p-lg bg-grey shadow">
                <h3>Elevate Your Career</h3>
                <p>Aviation Index is dedicated to empowering pilots to become their very best.</p>
            </div>
        </div>
    </div>
</body>

</html>