<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">

<head>
</head>

<body>
    <div layout:fragment="content">
        <div class="gutters py">
            <div class="row justify-between mb">
                <h1 class="mb">Study</h1>

                <div>
                    <a th:href="@{/study/filters}" class="btn">Filters</a>
                </div>
            </div>

            <div id="study-card" class="row mb">
                <div class="col h-1">
                    <form method="POST" th:action="@{/study/prev}" class="h-1">
                        <button type="submit" class="col center h-1">
                            <span class="font-size-xl">&#x3c;</span>
                            <span>Prev</span>
                        </button>
                    </form>
                </div>

                <div class="col center w-1 p bg-grey">
                    <h2 th:text="${question.getQuestion()}" class="mb"></h2>

                    <div class="row w-1 h-1">
                        <div class="col grow h-1 mr">
                            <textarea name="user-answer" id="user-answer" class="h-1 bg-white p"></textarea>
                        </div>

                        <div class="relative col grow h-1">
                            <button id="show-answer-btn" class="absolute h-1 btn-grey">Show Answer</button>
                            <p th:text="${question.getAnswer()}" class="h-1 text-start bg-white p"></p>
                        </div>
                    </div>
                </div>

                <div class="col h-1">
                    <form method="POST" th:action="@{/study/next}" class="h-1">
                        <button type="submit" class="col center h-1">
                            <span class="font-size-xl">&#x3e;</span>
                            <span>Next</span>
                        </button>
                    </form>
                </div>
            </div>

            <div class="mb">
                <ul th:with="status = ${userQuestion.getStudyStatus().name()}" class="row">
                    <li class="grow">
                        <form method="POST" th:action="@{/user-questions/{id} (id = ${userQuestion.getId()})}">
                            <input type="hidden" name="status" id="status" value="NEW">
                            <button type="submit" th:class="${status == 'NEW'} ? btn-status-new : btn-grey">New</button>
                        </form>
                    </li>
                    <li class="grow">
                        <form method="POST" th:action="@{/user-questions/{id} (id = ${userQuestion.getId()})}">
                            <input type="hidden" name="status" id="status" value="FOCUSED">
                            <button type="submit" th:class="${status == 'FOCUSED'} ? btn-status-focused: btn-grey">Focused</button>
                        </form>
                    </li>
                    <li class="grow">
                        <form method="POST" th:action="@{/user-questions/{id} (id = ${userQuestion.getId()})}">
                            <input type="hidden" name="status" id="status" value="LEARNING">
                            <button type="submit" th:class="${status == 'LEARNING'} ? btn-status-learning: btn-grey">Learning</button>
                        </form>
                    </li>
                    <li class="grow">
                        <form method="POST" th:action="@{/user-questions/{id} (id = ${userQuestion.getId()})}">
                            <input type="hidden" name="status" id="status" value="MASTERED">
                            <button type="submit" th:class="${status == 'MASTERED'} ? btn-status-mastered: btn-grey">Mastered</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>