<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">

<head>
</head>

<body>
    <div layout:fragment="content">
        <div class="gutters py">
            <div class="row justify-between mb">
                <h1>Topics</h1>

                <form method="POST" th:action="@{/study/topic}">
                    <input type="hidden" name="topicId" id="topicId" value="">
                    <button type="submit">Study</button>
                </form>
            </div>

            <ul class="col w-4">
                <li sec:authorize="hasRole('ROLE_ADMIN')" class="mb">
                    <a th:href="@{/topics/new}" class="btn btn-success">New</a>
                </li>
                <li th:each="subTopic : ${subTopics}" class="mt-sm">
                    <a
                        th:href="@{/topics/{id} (id = ${subTopic.getId()})}"
                        th:text="${subTopic.getTopic()}"
                    ></a>
                </li>
            </ul>
        </div>
    </div>
</body>

</html>