<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">

<head>
</head>

<body>
    <div layout:fragment="content">
        <div class="gutters py">
            <div class="row justify-between mb">
                <h1 th:text="${topic.getTopic()}"></h1>

                <div class="row">
                    <a sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-info"
                        th:href="@{/topics/edit/{id} (id = ${topic.getId()})}">Edit</a>

                    <form sec:authorize="hasRole('ROLE_ADMIN')" method="POST"
                        th:action="@{/topics/delete/{id} (id = ${topic.getId()})}">
                        <input type="hidden" name="topicId" id="topicId" th:value="${topic.getId()}">
                        <button type="submit" class="btn-danger">Delete</button>
                    </form>

                    <form method="POST" th:action="@{/study/topic}">
                        <input type="hidden" name="topicId" id="topicId" th:value="${topic.getId()}">
                        <button type="submit">Study</button>
                    </form>
                </div>
            </div>

            <p th:if="${error != null}" th:text="${error}" class="mb text-danger"></p>

            <ul class="row mb">
                <li>
                    <p class="row">
                        <a th:href="@{/topics}">Topics</a>
                        <span class="mx-sm">/</span>
                    </p>
                </li>

                <li th:each="parentTopic : ${parentTopics}">
                    <p class="row">
                        <a th:href="@{/topics/{id} (id = ${parentTopic.getId()})}"
                            th:text="${parentTopic.getTopic()}"></a>
                        <span class="mx-sm">/</span>
                    </p>
                </li>

                <li>
                    <p class="row">
                        <a th:href="@{/topics/{id} (id = ${topic.getId()})}" th:text="${topic.getTopic()}"></a>
                    </p>
                </li>
            </ul>

            <div class="row">
                <div class="col h-fit p bg-grey">
                    <h2>Sub Topics</h2>
                    <ul class="col">
                        <li th:each="subTopic : ${subTopics}" class="mt-sm">
                            <a th:href="@{/topics/{id} (id = ${subTopic.getId()})}"
                                th:text="${subTopic.getTopic()}"></a>
                        </li>
                    </ul>
                </div>

                <div class="col grow p">
                    <h2 class="mb">Questions</h2>
                    <ul class="col border-t-grey">
                        <li th:each="question : ${questions}" class="row p-sm border-b-grey">
                            <div class="col w-2">
                                <p th:text="${question.getQuestion()}"></p>
                            </div>
                            <div class="col w-2">
                                <p th:text="${question.getAnswer()}"></p>
                            </div>
                            <div class="col">
                                <div class="row">
                                    <a sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-info"
                                        th:href="@{/questions/edit/{id} (id = ${question.getId()})}">Edit</a>

                                    <form sec:authorize="hasRole('ROLE_ADMIN')" method="POST"
                                        th:action="@{/questions/delete/{id} (id = ${question.getId()})}">
                                        <input type="hidden" name="questionId" id="questionId" th:value="${question.getId()}">
                                        <button type="submit" class="btn-danger">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>

</html>