<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">

<head>
</head>

<body>
    <div layout:fragment="content">
        <div class="gutters py">
            <h1 class="mb">Questions</h1>

            <div class="mb">
                <form method="GET" th:action="@{/questions/search}" class="row">
                    <input name="search" type="text" placeholder="Search" class="w-1 mr-sm">
                    <button type="submit" class="w-fit">Search</button>
                </form>
            </div>

            <ul class="col border-t-grey">
                <li th:each="question: ${questions}" class="row p-sm border-b-grey">
                    <div class="col w-2">
                        <p th:text="${question.getQuestion()}"></p>
                    </div>
                    <div class="col w-2">
                        <p th:text="${question.getAnswer()}"></p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</body>

</html>